# MODO DE LAVALINK: "list" para usar lavalinks.json o "custom" para usar los datos de abajo
LAVALINK_MODE=list

# CONFIGURACIÓN CUSTOM (Solo si LAVALINK_MODE=custom)
LAVALINK_HOST=207.180.228.137
LAVALINK_PORT=2333
LAVALINK_PASS=youshallnotpass
LAVALINK_SECURE=false
